button.fancy {
	background-color: var(--primary-color-dark);
	border-width: 0 0 4px;
}

button.fancy:active {
	border-width: 4px 0 0;
	background: none;
}

button.fancy.selected {
	border-width: 4px 0 0;
	background: none;
}

button.fancy:after {
	background-clip: padding-box;
	background-color: var(--primary-color);
	border: solid transparent;
	border-radius: 16px;
	border-width: 0 0 4px;
	bottom: -4px;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}
