body {
    background-color: black;
    text-align: center;
    overflow: hidden;
    margin: 0;
}

#myCanvas {
    background-color: #2a5;
}

#controls {
    display: flex;
    margin: 0;
    width: 100%;
    background-color: rgb(33, 33, 33);
    color: white;
    font-family: Arial;
    /* This removes margins for some reason */
    text-align: center;
    padding: 5px;
}

/* add margin of 5px between every immediate child element of controls */
#controls > * {
    margin-right: 5px;
}